[column]
	ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[diff]
        algorithm = histogram
        colorMoved = plain
        mnemonicPrefix = true
        renames = true
[push]
        autoSetupRemote = true
        followTags = true
[help]
        autocorrect = prompt
[pull]
	rebase = true
